@charset "UTF-8";

body {
  margin: 0;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

section {
  border:1px solid gray;
  width: 400px;
  margin: 32px auto 0;
  border-radius: 8px;
}

h1 {
  margin: 0;
  padding: 8px;
  border-bottom: 1px solid lightgray;
}

p {
  margin: 0;
  line-height: 1.6;
  padding: 8px;
}