@charset "UTF-8";

body {
  margin: 0px;
}


p {
  background-color: pink;
  margin: 0px;
  width: 160px;
  height: 160px;
  border-top-width: 8px;
  border-top-style: dashed;
  border-top-color: blue;
  border-bottom-width: 8px;
  border-bottom-style: double;
  border-bottom-color: blue;
}